[user]
    name = Maico Timmerman
    email = maico.timmerman@gmail.com
[credential]
    helper = cache
[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
    editor = vim
    quotepath = false
[push]
    default = simple
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[log]
    date = relative
[format]
    pretty = format:%C(auto,yellow)%h%C(auto,magenta)%  %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(10,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D

[help]
    autocorrect = 1
[color]
    ui = true
[color "branch"]
    current = red bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[diff]
    tool = vimdiff
    submodule = log
[status]
    submodulesummary = true
[gitreview]
    remote = origin
[pull]
    rebase = true
[rebase]
    autoStash = true

[tig]
    main-options = -n10000
    log-options = -n10000

[tig "bind"]
    status = D ?git clean -f %(file)
    status = I ?echo %(file) >> .gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
