[user]
    name = Maico Timmerman
    email = maico.timmerman@gmail.com
[credential]
    helper = cache
[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
    editor = vim
[push]
    default = simple
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[help]
    autocorrect = 1
[color]
    ui = true
[color "branch"]
    current = red bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[diff]
    tool = vimdiff
    submodule = log
[status]
    submodulesummary = true
[gitreview]
    remote = origin
