[user]
    name = Maico Timmerman
    email = maico.timmerman@gmail.com
[credential]
    helper = cache
[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
    editor = nvim
    quotepath = false
[push]
    default = simple
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    reauthor = !bash -c 'git rebase --onto $1 --exec \"git commit --amend --author='$2'\" $1' --

[log]
    date = relative
[format]
    pretty = format:%C(auto,yellow)%h%C(auto,magenta)%  %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(10,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D

[help]
    autocorrect = 1
[color]
    ui = true
[color "branch"]
    current = red bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[diff]
    tool = vimdiff
    submodule = log
[status]
    submodulesummary = true
[gitreview]
    remote = origin
[pull]
    rebase = false
[rebase]
    autoStash = true
    autoSquash = true

[tig]
    main-options = -n10000
    log-options = -n10000

[tig "bind"]
    status = D ?git clean -f %(file)
    status = I ?echo %(file) >> .gitignore
    status = V !feh %(file)
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[sendemail]
    smtpEncryption = tls
    smtpServer = smtp.gmail.com
    smtpUser = maico.timmerman@gmail.com
    smtpServerPort = 587
[fetch]
    prune = true
[branch]
    sort = -committerdate
[init]
    defaultBranch = main
