[submodule "private_dotfiles"]
	path = private_dotfiles
	url = git@github.com:MaicoTimmerman/private_dotfiles.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:MaicoTimmerman/snippets.git
